body {
  padding: 75px 75px 0 75px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.chart-link:hover {
  text-decoration: none;
}

.chart-container {
  background-color: white;
  border: 1px solid #e2e2e2;
  border-radius: 3px;
  padding: 20px;
}

h1.chart-title {
    margin-top: 0
}

.chart-trends {
    margin-top: 10px;
}

.chart-trend {
  background-color: white;
  border: 1px solid #e2e2e2;
  border-radius: 3px;
  text-align: center;
}

.trend-label {
    font-weight: bold;
}

.trend-percentage {
    font-weight: bold;
}

.trend-percentage.zero {
    color: black;
}

.trend-percentage.positive {
    color: #21BA6E;
}

.trend-percentage.negative {
    color: #E23C3F;
}

.navbar {
  background-color: #FFC107;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
  border: none;
}

.navbar-inverse .navbar-nav > li > a,
.navbar .navbar-brand {
  color: #212121;
  text-decoration: none;
}

.keen-metric {
  background-color: white !important;
  color: #03A9F4 !important;
}

.btn-date-form {
  margin-bottom: 20px;
}

.row {
  margin: 0px;
}

.date-form {
  margin: 25px 0;
}