<div class="container-fluid">

  <div class="row">
    <div class="row date-form">
      <div class="col-sm-6">
        <a href="#" class="btn btn-default" id="allTimeButton">All-time</a>
        <a href="#" class="btn btn-default" id="lastMonthButton">Last month</a>        
        <a href="#" class="btn btn-default" id="lastThreeMonthsButton">Last 3 months</a>
        <a href="#" class="btn btn-default" id="lastSixMonthsButton">Last 6 months</a>
        <a href="#" class="btn btn-default" id="lastTwelveMonthsButton">Last 12 months</a>
      </div>
      
      <div class="col-sm-6">
        <div class="text-right">
          <form class="form-inline" method="get" action="/">
            <div class="form-group">
              <input type="text" class="form-control" name="startDate" id="datepicker1">
            </div>
            <div class="form-group">
              <input type="text" class="form-control" name="endDate" id="datepicker2">
            </div>
            <input type="hidden" name="city" value="{{CITY}}"/>
            <button type="submit" class="btn btn-default">Submit</button>
          </form>
        </div>
      </div>
    </div>
    
    <div class="row">
      <div class="col-sm-6 col-md-4">
        <div class="chart-wrapper">
          <div class="chart-title">
            Number of Editions
          </div>
          <div class="chart-stage">
            <div id="total-editions"></div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="chart-wrapper">
          <div class="chart-title">
            NPS Score Average - Participants
          </div>
          <div class="chart-stage">
            <div id="nps-score-participants-average"></div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="chart-wrapper">
          <div class="chart-title">
            NPS Score - Participants
          </div>
          <div class="chart-stage">
            <div id="nps-score-participants"></div>
          </div>
        </div>
      </div>
    </div>
    
    <div class="row">
      <div class="col-sm-6 col-md-4">
        <div class="chart-wrapper">
          <div class="chart-title">
            Average Signups
          </div>
          <div class="chart-stage">
            <div id="average-signups"></div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <a class="chart-link" href="/allTimeSignupsChart">
          <div class="chart-wrapper">
            <div class="chart-title">
              All-time Signups
            </div>
            <div class="chart-stage">
              <div id="all-time-signups"></div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-sm-6 col-md-4">
        <a class="chart-link" href="/allTimeUniqueSignupsChart">
          <div class="chart-wrapper">
            <div class="chart-title">
              All-time Unique Signups
            </div>
            <div class="chart-stage">
              <div id="all-time-unique-signups"></div>
            </div>
          </div>
        </a>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6 col-md-4">
        <div class="chart-wrapper">
          <div class="chart-title">
            Average Checkins
          </div>
          <div class="chart-stage">
            <div id="average-checkins"></div>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="chart-wrapper">
          <div class="chart-title">
            Average Check-in Rate - All Cities
          </div>
          <div class="chart-stage">
            <div id="average-check-in-percentage"></div>
          </div>
        </div>
      </div>
    </div>
    
    <div class="row">
      <div class="col-sm-12">
        <div class="chart-wrapper">
          <div class="chart-title">
            Monthly Signups and Check-in - All Cities
          </div>
          <div class="chart-stage">
            <div id="monthly-signups-and-checkins-sp"></div>
          </div>
        </div>
      </div>
    </div>
    
    <div class="row">
      <div class="col-sm-12">
        <div class="chart-wrapper">
          <div class="chart-title">
            Programming Languages
          </div>
          <div class="chart-stage">
            <div id="programming-languages"></div>
          </div>
        </div>
      </div>
    </div>
    
  </div>

  <hr>

  <p class="small text-muted">Built with &#9829; using <a href="https://keen.io">Keen IO</a></p>

</div>

<script type="text/javascript" src="/lib/jquery/dist/jquery.min.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<script type="text/javascript" src="/lib/bootstrap/dist/js/bootstrap.min.js"></script>

<script type="text/javascript" src="/lib/holderjs/holder.js"></script>
<script>
  Holder.add_theme("white", { background:"#fff", foreground:"#a7a7a7", size:10 });
</script>

<script type="text/javascript" src="/lib/keen-js/dist/keen.min.js"></script>
<script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
<script type="text/javascript" src="/js/app.js"></script>
